.my_movies {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.my_movies h1 {
    margin-bottom: 14px;
}

.my_movies span {
    font-size: 18px;
}

.my_movies ul {
    width: 720px;
}

.my_movies ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    padding: 5px;
}

.my_movies ul li:hover {
    background-color: #e8e8e8;
    border-radius: 5px;
}

.my_movies div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_movies div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.my_movies div a:hover {
    text-decoration: underline;
}

.my_movies div button{
    color: #eb1111;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.any_movie {
    color: #116feb;
    text-decoration: none;
}

.any_movie:hover {
    text-decoration: underline;
}